:root{
    --accent-color: #FF031A;
}

body, html{
    position:relative;
    overflow:hidden;
}

body{
    height: 100vh;
    background: linear-gradient(90deg,#000, #000E 30%, #000A 50%, #0000),
                url(../img/background\ 1.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: right;
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    padding: 0 128px;
    transition: all 4s;
    animation: zoo 1.5s;
}

header{
    /* background-color: aqua; */
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

.links-container{
    height: 36px;
    /* background-color: gray; */
    display: flex;
    gap:40px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
}

.links-container a{
    text-shadow: 2px 2px 2px #000;
    padding: 8px 5px;
    transition: all 1s;
}

.links-container a:hover{
    background-color: red;

}

main{
    /* background-color: tomato; */
    flex-grow: 1;
    display: flex;
    font-family: 'Mulish', sans-serif;;
}

.content-container{
    flex-grow:1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-family:  'Mulish', sans-serif;
    gap: 20px;
}

.content-container h1{
    display: flex;
    flex-direction: column;
    font-size: 8rem;
    font-family: 'Mulish', sans-serif;
    line-height: 5rem;
}

.movie-title{
    color: var(--accent-color);
    font-size: 3rem;
}

.movie-text{
    width:600px;
    font-size: 1.1rem;
    color: white;
    font-weight: 200;
}

.content-container h1 span{
    font-size: 2.5rem;
    font-weight: 200;
}

.button{
    height: 80px;
    width: 300px;
    background-color: var(--accent-color);
    border-radius:10px;
    display:flex;
    align-items: center;
    font-size: 1.5;
    font-weight:200;
    font-style:italic;
}

.social-container ul {
    height: 700px;
    width: 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.social-container li{
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border:2px solid white;
}

.social-container li:hover{
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    transition: all 1s;
    transform: rotate(15deg);
    cursor: pointer;
}

.social-container i {
    font-size: 1.5rem;
    color: white;
}

@media (max-width:768px){

    .movie-text{
        display: none;
    }
    .content-container{
        gap: 40px;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 40px;
    }

    .social-container{
        display: none;
    }
    
    .content-container h1{
        font-size: 4rem;
        line-height: 2.6rem;
    }

    .movie-title{
        font-size: 1.5rem;
    }
} 

footer{
    background-color: var (var(--accent-color));
    height: 80px;
}

@keyframes zoo{
    0%{
        transform: scale (4);
    }
    100%{
        transform: scale (1);
    }
}